:root {
    --accent-color: #FD8558;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font: 15px "Poppins", sans-serif;
    color: #222;
}

a {
    color: var(--accent-color);
}

h1 {
    font-size: 80px;
    font-weight: 400;
    color: #fff;
    width: 700px;
    text-align: center;
}


/*определили ширину контента*/

.container {
    width: 1440px;
    margin: 0 auto;
}

.nav-inner {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    height: 74px;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-item {
    display: flex;
    list-style: none;
}

.menu-item li {
    margin-left: 30px;
}

.menu-item li a {
    text-decoration: none;
    color: inherit;
    /*наследуй от родителя*/
}

.menu-item li a.active {
    color: var(--accent-color);
}


/*promo*/

.promo {
    background: url(../img/bg_promo.png) no-repeat center;
    background-size: cover;
}

.promo-inner {
    min-height: calc(100vh - 74px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-sroke,
.btn-full {
    display: inline-block;
    text-decoration: none;
    padding: 15px 40px;
    font-weight: bold;
    margin: 5px 7px;
}

.btn-full {
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
    color: #fff;
}

.btn-sroke {
    border: 2px solid var(--accent-color);
    color: #fff;
}


/*about*/

.about {
    margin-bottom: 50px;
}

.about-inner {
    background: url(../img/about_bg.png) no-repeat left top;
    padding-top: 100px;
}

.about-desc {
    display: flex;
    padding-bottom: 57px;
}

.about-desc>div {
    flex: 1 1 50%;
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FD8558;
}

h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: #333333;
    max-width: 500px;
}

p {
    color: #999999;
    font-size: 15px;
    line-height: 26px;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #222222;
}

.about-img {
    display: flex;
}

.about-block-img {
    flex: 1 1 60%;
    margin-right: 30px;
}

.about-block-img img {
    width: 100%;
}

.about-block-desc {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about q {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 45px;
    margin-left: 30px;
    margin-bottom: 45px
}

.about cite {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px
}

.about-block-desc p {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1.8px;
    color: #CACACA;
}


/*advantage*/

.advantage {
    margin-bottom: 50px;
}

.advantage-inner {
    display: flex;
}

.advan-item {
    flex: 1 1 33%;
    margin: 0 3%;
    text-align: center;
}

h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
}


/* team */

.team-header {
    text-align: center;
}

.team-header h3 {
    max-width: 100%;
}

.team-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.team-gallery-items {
    flex: 0 1 30%;
    position: relative;
}

.team-gallery-items p {
    position: absolute;
}

.team-user {
    width: 100%;
    text-align: center;
    top: calc(50% - 40px);
    font-size: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.team-maneg {
    width: 100%;
    text-align: center;
    top: calc(50% - 10px);
    font-size: 24px;
    color: #FFFFFF;
}

.team-gallery-items img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}


/* footer */

.footer {
    padding: 90px 0;
    background: #000;
    color: #fff;
    font-size: 14px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.footer-nav div {
    flex: 1 1 25%;
}

.footer-nav div:first-child {
    flex: 1 1 40%;
}

.footer ul {
    list-style: none;
    ;
}

.footer a {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-size: 13px;
    font-style: normal;
}

.footer h2 {
    color: #fff;
}

.footer-copy {
    padding: 50px 0 0 0;
    text-align: center;
}


/* адаптив версия */

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        margin: 0 10px;
    }
    .nav-inner {
        width: 100%;
        display: flex;
        height: 60px;
        align-items: center;
    }
    .menu {
        display: none;
    }
    h1 {
        font-size: 50px;
        width: 100%;
    }
    .about-desc {
        display: block;
        padding-bottom: 57px;
    }
    .about-img {
        display: block;
    }
    .advantage-inner {
        display: block;
    }
    .team-gallery {
        display: block;
    }
    .footer-nav {
        display: block;
        text-align: center;
    }
}

@media screen and (min-width: 481px) and (max-width: 1439px) {
    /* table */
}